.textfield {
  --border-size: 1px;
  --border-type: solid;
  --border-color: var(--control-border);
  --padding: calc(var(--design-unit) * 1px);
  background: var(--ui-base-00);

  display: inline-block;
  border: var(--border-size) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  box-shadow: 0 0 1px transparent;
}

.textfield:focus-within {
  border-width: calc(var(--border-size) * 2);
  padding: calc(var(--padding) - 1px);
  box-sizing: content-box;
  border-color: var(--accent-color);
}

.textfield input {
  border: 0;
  height: calc(var(--base-font-size) + 9px);
  outline: none;
  font-size: calc(var(--base-font-size) + 5px);
}

.textfield input:active,
.textfield input:focus {
  outline: 0;
}
