.header {
    background-color:#333;
    color:#fff;
    display: flex;
}

.header h1 {
    margin:0;
}

.header ul {
    display:flex;
    list-style-type: none;
}

.header ul li {
    margin-left:5px;
}

.header a {
    text-decoration: none;
    color: inherit;
    padding:calc(var(--design-unit) * 2px);
    border-radius: calc(var(--design-unit) * 2px);;
}

.header a:hover {
    background-color: #555;

}

.header :global(.active) {
    background-color: #666;
}