.root {
    --design-unit: 4;
    --background-color: #ffffff;
    --primary-background: #eeeeee;
    --primary-foreground: #000000;
    --base-font-size: 14px;

    --control-border:#333333;
    --control-active-border: 2px solid #444444;
}

