.root {
  --design-unit: 4;
  --background-color: #dddddd;
  --primary-background: #eeeeee;
  --primary-foreground: #000000;
  --base-font-size: 14px;

  --control-border: #333333;
  --control-active-border: 2px solid #444444;
  --ui-base-00: #ffffff;
  --ui-base-01: #dddddd;
  --ui-base-02: #aaaaaa;
  --ui-base-03: #777777;
  --ui-base-04: #999999;

  --border-radius: 4px;


  --font-family: Roboto, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  background-color: #eeeeee;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       url('../../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}