.card {
  --card-margin: calc(var(--design-unit) * 4px);

  box-sizing: border-box;
  background: var(--ui-base-00);
  border-radius: var(--border-radius);
  font-family: var(--font-family);

  overflow: hidden;

  /* TODO */
  box-shadow: var(--elevation-1);
}

.headerContainer {
  display: flex;
  padding: var(--card-margin);
}

.thumbnail > * {
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 10px;
}

.media {
  background: #333;
}

.media > * {
  width: 100%;
}

.media + .actions {
  margin-top: var(--card-margin);
}

.title {
  font-weight: 550;
  font-size: calc(var(--base-font-size) + 6px);
}

.secondary {
  opacity: 0.6;
  font-weight: 400;
}

.actions {
  padding: 0 var(--card-margin) var(--card-margin) var(--card-margin);
}
