body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
