.button {
  background: var(--accent-background);
  padding: calc(var(--design-unit) * 2px);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--ui-base-02);
  outline: none;
  box-shadow: var(--elevation-1);
}

.button:hover {
  background: var(--ui-base-03);
}

.button:focus {
  background: var(--ui-base-02);
}

.button:active {
  background: var(--ui-base-01);
  box-shadow: var(--elevation-2);
}

.outline,
.outline:active,
.outline:hover,
.outline:focus {
  background: transparent;
  border-width: 2px;
  padding: calc(var(--design-unit) * 2px - 1px);
}

.outline:active {
  border-color: var(--control-active-border);
}

.outline:hover {
  border-color: var(--control-active-border);
}
