.button {
  /* Standard values so LinkButton and Button behaves the same */
  display: inline-block;
  border-style: outset;
  border-width: 2px;
  cursor: pointer;

  /* */
  font-family: var(--font-family);
  font-size: var(--font-size);

  --button-background: #008cba;
  --button-color: var(--font-dark);
  --button-padding: calc(var(--design-unit) * 2px);

  background: var(--button-background);
  color: var(--button-color);
  border-color: var(--button-background);
  padding: calc(var(--design-unit) * 2px);
  border-radius: var(--border-radius);
}

.button:hover {
  --button-background: #029fd3;
}

.button:disabled,
.button.disabled {
  --button-background: #aaa;
  --button-color: #ddd;
  cursor: default;
}

.button:active {
  border-style: inset;
  --button-background: #005e7e;
}
